{% extends 'base.html' %}
{% block content %}

<h3 class="center">Job Application Details</h3>

<a href="{% url 'index' %}">&larr; Return</a>
<div class="row">
    <div class="card">
        <div class="card-content job-details">
            <p><b>Job Title:</b> {{ job.name }}</p>
            <p><b>Company:</b> {{ job.company }}</p>
            <p><b>Location:</b> {{ job.location }}</p>
            <p><b>Date Applied:</b> {{ job.date }}</p>
            <p><b>Status:</b> {{ status }}</p>
            <p><b>URL:</b> <a href="{{ job.url }}">Click Here</a></p>
            <br>
            <a href="{% url 'jobs_update' job.id %}"><button class="btn">Edit</button></a>
            <a href="{% url 'jobs_delete' job.id %}"><button class="btn">Delete</button></a>
        </div>
    </div>        
    <div class="card">
        <div class="card-content">
            <h5>Requirements</h5>
            <p>
                {{ job.requirements }}
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-content">
            <h5>Notes</h5>
            <p>
               {{ job.notes }} 
            </p>
        </div>
    </div>
    <div class="card">
        <div class="card-content col s8">
            <h5>Application History</h5>
            <table class="striped">
                <thead>
                    <tr>
                        <th>Date</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {% for status in job.status_set.all %}
                    <tr>
                        <td>{{ status.date }}</td>
                        <td>{{ status.get_status_display}}</td>
                    </tr>
                    {% endfor %}
                </tbody>
            </table>            
        </div>
        <div class="card-content col s4">
            <form action="{% url 'add_status' job.id %}" method="post">
                {% csrf_token %}
                {{ status_form.as_p }}
                <br>
                <input type="submit" value="Update Status" class="btn">
            </form>
        </div>
    </div>
</div>

<script>
    // create datepicker
    var dateEl = document.getElementById('id_date');
    M.Datepicker.init(dateEl, {
      format: 'yyyy-mm-dd',
      defaultDate: new Date(),
      setDefaultDate: true,
      autoClose: true,
    });
  
</script>

{% endblock %}