{% extends 'base.html' %}
{% block content %}

<h3 class="center">Profile</h3>

<div class="card">
    <div class="card-content profile-card">
            <div class="row ">
                <div class="col s4 center">
                    <img src="/media/{{ profile.image }}" alt="{{ profile.image }}" class="center">
                </div>
                <div class="col s8 profile-details">
                    <p><b>Username:</b> {{ user.username }}</p>
                    <p><b>Name:</b>  {{ user.first_name }} {{ user.last_name }}</p>
                    <p><b>Email:</b>  {{ user.email }}</p>
                </div>
                <a href="{% url 'profile_update' %}"><button class="btn edit-profile-btn">Edit Profile</button></a>
            </div>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <h5>Experience</h5>
        <p>{{ profile.experience }}</p>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <h5>Goals</h5>
        <p>{{ profile.goals }}</p>
    </div>
</div>
<div class="card">
    <div class="card-content">
        <h5>Skills</h5>
        <table class="striped skills-table">
            <thead>
                <tr>
                    <th>Skill</th>
                    <th>Level</th>
                </tr>
            </thead>
            <tbody>
                {% for skill in skills %}
                <tr>
                    <td>{{ skill.name }}</td>
                    <td>{{ skill.level }}</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
<div>

    <a href="{% url 'skills_create' %}"><button class="btn">Add Skill</button></a>
    <a href="{% url 'skills_index' %}"><button class="btn">Edit Skills</button></a>
</div>

    </div>
</div>



{% endblock %}